[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jijzept = "==1.18.5"
jijmodeling = "==1.13.2"
jijmodeling-transpiler = "==0.7.2"
numpy = "*"
geocoder = "*"
matplotlib = "*"
networkx = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
