[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jijzept = "==1.18.0"
jijmodeling = "==1.4.1"
jijmodeling-transpiler = "==0.6.15"
numpy = "*"
geocoder = "*"
matplotlib = "*"
networkx = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
